body {
  background-color: #1E1E1E;
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#video-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
}

#input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#video-url {
  flex: 1;
  padding: 14px;
  margin-right: 20px;
  margin-left :20px;
  border: none;
  background-color: #161616bf;
  color: #FFFFFF;
  border-radius: 5px;
}

#load-video-btn {
  padding: 10px 30px;
  margin-right: 20px;
  border: none;
  background-color: #00a1e6;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

#load-video-btn:hover {
  background-color: #0079AD;
}

#video-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
}

#video-player {
  width: 100%;
  max-width: 1000px;
  height: auto;
  border-radius: 30px;
}

.plyr {
  border-radius: 20px;
}